<header class="px-4 pt-4 pb-3 mb-3 font-sans bg-gray-100 shadow-lg leading-10">
  <span class="text-2xl font-bold opacity-75 cursor-pointer hover:opacity-100">
    <a href="/">
      Loss Control
      <svg class="inline w-10 ml-1 -mt-1 text-purple-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </a>
  </span>
</header>
<div class="px-4">
  <router-outlet></router-outlet>
</div>
