<table class="w-full max-h-screen whitespace-no-wrap shadow table-auto">
  <thead *ngIf="(sort$ | async) as sort" class="bg-purple-200 rounded">
    <th (click)="doSort('number')">
      Number
      <i *ngIf="sort.column === 'number'" class="sort-icon">
        {{ sort.rev ? '⌃' : '⌄' }}
      </i>
    </th>
    <th (click)="doSort('annual_premium')">
      Annual Premium
      <i *ngIf="sort.column === 'annual_premium'" class="sort-icon">
        {{ sort.rev ? '⌃' : '⌄' }}
      </i>
    </th>
    <th (click)="doSort('status')">
      Status
      <i *ngIf="sort.column === 'status'" class="sort-icon">
        {{ sort.rev ? '⌃' : '⌄' }}
      </i>
    </th>
    <th (click)="doSort('amount')">
      Amount
      <i *ngIf="sort.column === 'amount'" class="sort-icon">
        {{ sort.rev ? '⌃' : '⌄' }}
      </i>
    </th>
    <th (click)="doSort('effective_date')">
      Effective Date
      <i *ngIf="sort.column === 'effective_date'" class="sort-icon">
        {{ sort.rev ? '⌃' : '⌄' }}
      </i>
    </th>
    <th (click)="doSort('due_date')">
      Due Date
      <i *ngIf="sort.column === 'due_date'" class="sort-icon">
        {{ sort.rev ? '⌃' : '⌄' }}
      </i>
    </th>
    <th (click)="doSort('payments')">
      Payments
      <i *ngIf="sort.column === 'payments'" class="sort-icon">
        {{ sort.rev ? '⌃' : '⌄' }}
      </i>
    </th>
  </thead>

  <tbody>
    <tr *ngFor="let policy of policies">
      <td (click)="clickPolicy(policy, 'number')" class="text-blue-500 cursor-pointer hover:underline">{{ policy.number }}</td>
      <td (click)="clickPolicy(policy, 'annual_premium')">{{ policy.annual_premium }}</td>
      <td (click)="clickPolicy(policy, 'status')">{{ policy.state.status }}</td>
      <td (click)="clickPolicy(policy, 'amount')">{{ policy.invoice.amount_due }}</td>
      <td (click)="clickPolicy(policy, 'effective_date')">{{ policy.effective_date | date }}</td>
      <td (click)="clickPolicy(policy, 'due_date')">{{ policy.invoice.due_on | date }}</td>
      <td (click)="clickPolicy(policy, 'payments')" class="text-blue-500 cursor-pointer hover:underline">{{ policy.payments.length }}</td>
    </tr>
  </tbody>
</table>
