<table class="max-h-screen whitespace-no-wrap shadow table-auto">
  <thead class="bg-purple-200 rounded">
    <th>Number</th>
    <th>Annual Premium</th>
    <th>Status</th>
    <th>Amount</th>
    <th>Effective Date</th>
    <th>Due Date</th>
    <th>Payments</th>
  </thead>

  <tbody>
    <tr *ngFor="let policy of policies">
      <td (click)="clickPolicy(policy, 'number')" class="text-blue-500 cursor-pointer hover:underline">{{ policy.number }}</td>
      <td (click)="clickPolicy(policy, 'annual_premium')">{{ policy.annual_premium }}</td>
      <td (click)="clickPolicy(policy, 'status')">{{ policy.state.status }}</td>
      <td (click)="clickPolicy(policy, 'amount')">{{ policy.invoice.amount_due }}</td>
      <td (click)="clickPolicy(policy, 'effective_date')">{{ policy.effective_date | date }}</td>
      <td (click)="clickPolicy(policy, 'due_date')">{{ policy.invoice.due_on | date }}</td>
      <td (click)="clickPolicy(policy, 'payments')" class="text-blue-500 cursor-pointer hover:underline">{{ policy.payments.length }}</td>
    </tr>
  </tbody>
</table>
