<table class="max-h-screen whitespace-no-wrap shadow table-auto">
  <thead class="bg-purple-200 rounded">
    <th>Number</th>
    <th>Annual Premium</th>
    <th>Status</th>
    <th>Amount</th>
    <th>Effective Date</th>
    <th>Due Date</th>
    <th>Payments</th>
  </thead>

  <tbody>
    <tr *ngFor="let policy of policies">
      <td>{{ policy.number }}</td>
      <td>{{ policy.annual_premium }}</td>
      <td>{{ policy.state.status }}</td>
      <td>{{ policy.invoice.amount_due }}</td>
      <td>{{ policy.effective_date | date }}</td>
      <td>{{ policy.invoice.due_on | date }}</td>
      <td>{{ policy.payments.length }}</td>
    </tr>
  </tbody>
</table>
